<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Branch</title>

    <script type="text/javascript" src="../../jquery-3.6.0.js"></script>
    <script type="text/javascript" src="../../jsFile/category/Add.js"></script>

</head>
<body>

    <table align="center">
        <tbody>
          <tr>
            <td>Branch Name:</td>
            <td> <input type="text" id="name" >  </td>
          </tr>
          <tr>
            <tr>
              <td> <button type="button" onclick="Add()" > Add </button> </td>
            </tr>

        </tbody>
    </table>

</body>
</html>
