<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script type="text/javascript" src="../../jquery-3.6.0.js"></script>
    <script type="text/javascript" src="../../jsFile/Branch/allBranchSales.js"></script>
</head>
<body>
<a href="../Branch/singleBranchReport.html"></a>
    <table align="center">
        <thead>
        <tr>
            <td>Branch Name</td>
            <td>Sales Amount</td>
        </tr>
        </thead>

        <tbody>

        </tbody>
    </table>

</body>
</html>