<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../../jquery-3.6.0.js"></script>

    <script type="text/javascript" src="../../jsFile/Branch/GetAll.js"></script>

    <title>All Branch</title>
</head>

<body>
    <table align="center" border="1">
        <thead>
            <tr>
                <td>Name</td>
                <td>BranchId</td>
                <td>address</td>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

</body>

</html>
