<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script type="text/javascript" src="../../jquery-3.6.0.js"></script>
    <script type="text/javascript" src="../../jsFile/Branch/topBranchDetails.js"></script>
</head>
<body>
<table align="center">
    <tr>
        <td>Branch Name: </td>
        <td id="showBranchName"></td>
    </tr>
    <tr>
        <td>Address: </td>
        <td id="showBranchAddress"></td>
    </tr>
    <tr>
        <td>Total Sales Amount: </td>
        <td id="showBranchTotalSalesAmount"></td>
    </tr>
</table>
</body>
</html>