<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">

    <script type="text/javascript" src="../../jquery-3.6.0.js"></script>
    <script type="text/javascript" src="../../jsFile/distributedProduct/distributedProductByBranch.js"></script>
</head>
<body>
<table align="center" border="1" class="w3-table-all">
    <thead>
    <tr class="w3-light-green">
        <td>Branch Name</td>
        <td>Product name</td>
        <td>Price</td>
        <td>Details</td>
        <td>Special</td>
        <td>Warranty</td>
        <td>Quantity</td>
        <td>Category</td>
        <td>Brand</td>
        <td>Status</td>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>
</body>
</html>