<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script type="text/javascript" src="../../jquery-3.6.0.js"></script>
    <script type="text/javascript" src="../../jsFile/distributedProduct/editQuantity.js"></script>
</head>
<body>
    <table align="center">
        <tr>
            <td>Branch Name</td>
            <td id="showDistributedBranchName"></td>
        </tr>
        <tr>
            <td>Quantity</td>
            <td id="showDistributedProductQuantity"></td>
        </tr>
        <tr>
            <td></td>
            <td id="distributedBranchQuantityUpdateBtn"></td>
        </tr>
    </table>
</body>
</html>