<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script type="text/javascript" src="../../jquery-3.6.0.js"></script>
    <script type="text/javascript" src="../../jsFile/distributedProduct/index.js"></script>
</head>
<body>
<div align="left">
    <span id="addProductToANewBranchBtn">

    </span>
</div>

<table align="center">
    <thead>
    <tr>
        <td>Branch Name</td>
        <td>Quantity</td>
        <td>Status</td>
    </tr>
    </thead>
    <!--<tr>
        <td id="showProductBranchName"></td>
        <td id="showProductBranchQuantity"></td>
        <td id="showProductBranchStatus"></td>
    </tr>-->

    <tbody>

    </tbody>
</table>
</body>
</html>