<!DOCTYPE html>

<head>
	<link rel="stylesheet" href="../CSS/Header.css">

	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>


<body>
	<div class="mainheader">
		<div class="header">
			<div class="icon">
				<img src="../Resources/NavBarLogo.png" alt="University logo">
			</div>
			<div class="title">
				<h1>PC Hut</h1>
			</div>
		</div>

		<div class="topnav">
			<a href="">Home</a>
      <a href="">Product</a>
			<a href="">Brands</a>
			<a href="">Categories</a>
      <a href="">sign in / login</a>

		</div>
	</div>
<h1>header html</h1>
</body>






</html>
