<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script type="text/javascript" src="../../jquery-3.6.0.js"></script>
    <script type="text/javascript" src="../../jsFile/product/add.js"></script>
</head>
<body>
    <table align="center">
        <thead>
            <tr>
                <td>Product Name</td>
                <td id="addProdName"></td>
            </tr>
            <tr>
                <td>Brand Name</td>
                <td>
                    <select name="" id="addBrandList">

                    </select>
                </td>
            </tr>
            <tr>
                <td>Category</td>
                <td>
                    <select id="addCategoryList">

                    </select>
                </td>
            </tr>
            <tr>
                <td>Details</td>
                <td id="addProdDetails"></td>
            </tr>
            <tr>
                <td>Special</td>
                <td id="addProdSpecial"></td>
            </tr>
            <tr>
                <td>Warranty</td>
                <td id="addProdWarranty"></td>
            </tr>
            <tr>
                <td>Price</td>
                <td id="addProdPrice"></td>
            </tr>
            <tr>
                <td>Quantity</td>
                <td id="addProdQuantity"></td>
            </tr>
            <tr>
                <td>Branch</td>
                <td id="addBranch"></td>
            </tr>
            <tr>
                <td></td>
                <td id="productAddBtn">

                </td>
            </tr>
        </thead>
    </table>
</body>
</html>