<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../../jquery-3.6.0.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>

    <script type="text/javascript" src="../../jsFile/product/edit.js"></script>
</head>
<body>
<form id="editProductForm">
<table align="center">
    <thead>
    <tr>
        <td>Product name</td>
        <td id="editProductName"></td>
    </tr>
    <tr>
        <td>Brand</td>
        <td id="editProductBrand">
            <select name="" id="brandListForProductUpdate">

            </select>
        </td>
    </tr>
    <tr>
        <td>Category</td>
        <td id="editProductCategory">
            <select name="" id="categoryListForProductUpdate">

            </select>
        </td>
    </tr>
    <tr>
        <td>Details</td>
        <td id="editProductDetails"></td>
    </tr>
    <tr>
        <td>Special</td>
        <td id="editProductSpecial"></td>
    </tr>
    <tr>
        <td>Warranty</td>
        <td id="editProductWarranty"></td>
    </tr>
    <tr>
        <td>Price</td>
        <td id="editProductPrice"></td>
    </tr>
    <!--<tr>
        <td>Photo</td>
        <td id="editProductPic"></td>
    </tr>-->
    <tr>
        <td></td>
        <td id="productUpdateBtn"></td>
    </tr>
    </thead>

</table>
</form>
</body>
</html>