<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table align="center">
    <thead>
    <tr>
        <td>Product name</td>
        <td id="editProductName"></td>
    </tr>
    <tr>
        <td>Category</td>
        <td id="editProductCategory"></td>
    </tr>
    <tr>
        <td>Brand</td>
    </tr>
        <td>Price</td>
        <!--<td>Quantity</td>-->
        <td>Special</td>
        <td>Warranty</td>
        <td>Status</td>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>
</body>
</html>