<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">

    <script type="text/javascript" src="../../jquery-3.6.0.js"></script>
    <script type="text/javascript" src="../../jsFile/product/index.js"></script>
</head>
<body>
    hello Admin
    <br>
    <div align="left" class="w3-bar-block w3-center">
        <a href="add.html" class="w3-bar-item w3-button">Add Product</a>
        <a href="topLaptop.html" class="w3-bar-item w3-button">Top Laptop</a>
        <a href="../customer/topThreeCustomerChart.html">Top 3 Customer</a>
        <a href="../branchManager/topSeller.html">Top Seller Branch Manger</a>
        <a href="../brand/topBrand.html">Top Brand Details</a>
        <a href="../product/edit.html"></a>
        <a href="../distributedProduct/index.html"></a> <br>
        <a href="../category/categoryVsProductChart.html">Category vs Product</a>
        <a href="../Branch/allBranchSales.html">Branch Report</a>
    </div>
<table align="center" border="1" class="w3-table-all" class="w3-container w3-center w3-animate-top">
    <thead>
        <tr>
            <td>Product name</td>
            <td>Category</td>
            <td>Brand</td>
            <td>Price</td>
            <td>Details</td>
            <td>Special</td>
            <td>Warranty</td>
            <td>Status</td>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
</body>
</html>
