<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">

    <script type="text/javascript" src="../../jquery-3.6.0.js"></script>
    <script type="text/javascript" src="../../jsFile/product/index.js"></script>
</head>
<body class="w3-container w3-center w3-animate-opacity">
    hello Admin
    <br>
    <div align="left"  class="w3-bar w3-border w3-black">
        <a href="add.html" class="w3-bar-item w3-button">Add Product</a>
        <a href="topLaptop.html" class="w3-bar-item w3-button">Top Laptop</a>
        <a href="../customer/topThreeCustomerChart.html" class="w3-bar-item w3-button">Top 3 Customer</a>
        <a href="../branchManager/topSeller.html" class="w3-bar-item w3-button">Top Seller Branch Manger</a>
        <a href="../brand/topBrand.html" class="w3-bar-item w3-button">Top Brand Details</a>
        <!--<a href="../product/edit.html" class="w3-bar-item w3-button"></a>-->
        <a href="../distributedProduct/distributedProductByBranch.html" class="w3-bar-item w3-button">Distribution</a>
        <a href="../category/categoryVsProductChart.html" class="w3-bar-item w3-button">Category vs Product</a>
        <a href="../Branch/allBranchSales.html" class="w3-bar-item w3-button">Branch Report</a>
        <a href="../sales/yearlySales.html" class="w3-bar-item w3-button">Sales Report</a>
    </div>
    <br>
<table align="center" border="1" class="w3-table-all">
    <thead>
        <tr class="w3-light-green">
            <td>Product name</td>
            <td>Category</td>
            <td>Brand</td>
            <td>Price</td>
            <td>Details</td>
            <td>Special</td>
            <td>Warranty</td>
            <td>Status</td>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
</body>
</html>
