<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../../jquery-3.6.0.js"></script>
    <script type="text/javascript" src="../../jsFile/product/index.js"></script>
</head>
<body>
    hello Admin
    <br>
    <div align="left">
        <a href="add.html">Add Product</a>
        <a href="topLaptop.html">Top Laptop</a>
        <a href="../customer/topThreeCustomerChart.html">Top 3 Customer</a>
        <a href="../branchManager/topSeller.html">Top Seller Branch Manger</a>
        <a href="../brand/topBrand.html">Top Brand Details</a>
        <a href=""></a>
    </div>
<table align="center" border="1">
    <thead>
        <tr>
            <td>Product name</td>
            <td>Category</td>
            <td>Brand</td>
            <td>Price</td>
            <!--<td>Quantity</td>-->
            <td>Special</td>
            <td>Warranty</td>
            <td>Status</td>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
</body>
</html>
