<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Top Laptop</title>

    <script type="text/javascript" src="../../jquery-3.6.0.js"></script>
    <script type="text/javascript" src="../../jsFile/product/topLaptop.js"></script>
</head>
<body>
    <table align="center">
        <thead>
            <tr>
                <td>Product Name: </td>
                <td id="showProdName"></td>
            </tr>
            <tr>
                <td>Price: </td>
                <td id="showProdPrice"></td>
            </tr>
            <tr>
                <td>Status: </td>
                <td id="showProdStatus"></td>
            </tr>
            <tr>
                <td>Category: </td>
                <td id="showCategory"></td>
            </tr>
            <tr>
                <td>Brand: </td>
                <td id="showBrand"></td>
            </tr>
            <tr>
                <td>Details: </td>
                <td id="showProdDetails"></td>
            </tr>
            <tr>
                <td>Special: </td>
                <td id="showProdSpecial"></td>
            </tr>
            <tr>
                <td>Warranty: </td>
                <td id="showProdWarranty"></td>
            </tr>
        </thead>
    </table>
</body>
</html>