<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../../jquery-3.6.0.js"></script>
    <script type="text/javascript" src="../../jsFile/BranchManager/Getall.js"></script>
  
    <title>All BranchManagers</title>
</head>

<body>
    <table align="center" border="1">
        <thead>
            <tr>
                <td>Name</td>
                <td>Email</td>
                <td>Phone</td>
                <td>Branch</td>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

</body>

</html>
