<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script type="text/javascript" src="../../jquery-3.6.0.js"></script>
    <script type="text/javascript" src="../../jsFile/branchManager/topSeller.js"></script>
</head>
<body>
<table align="center">
    <tr>
        <td>Manager Name: </td>
        <td id="showManagerName"></td>
    </tr>
    <tr>
        <td>Email: </td>
        <td id="showManagerEmail"></td>
    </tr>
    <tr>
        <td>Phone: </td>
        <td id="showManagerPhone"></td>
    </tr>
    <tr>
        <td>Total Amount: </td>
        <td id="showManagerTotalAMount"></td>
    </tr>
</table>
</body>
</html>